# HuniBackend .gitignore
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
.env
*.env.*
secrets.json
**/*.pfx
**/*.p12
.user-secrets/

# IDE & OS
.vs/
.idea/
.vscode/settings.json
*.user
*.suo
*.userosscache

# Build & Publish
bin/
obj/
publish/
logs/
